@using FastGeography.Shared;

<tr>
    <td class="table-light"><input @bind-value=@game.Letter disabled="true" style="width:35px;" /></td>
    <td class="@(game.SetCssClass(game.CityPoints))"><input disabled=@game.IsFinished @bind-value=@game.City /></td>
    <td class="@(game.SetCssClass(game.VillagePoints))"><input disabled=@game.IsFinished @bind-value=@game.Village /></td>
    <td class="@(game.SetCssClass(game.StatePoints))"><input disabled=@game.IsFinished @bind-value=@game.State /></td>
    <td class="@(game.SetCssClass(game.RiverPoints))"><input disabled=@game.IsFinished @bind-value=@game.River /></td>
    <td class="@(game.SetCssClass(game.MountainPoints))"><input disabled=@game.IsFinished @bind-value=@game.Mountain /></td>
    <td class="table-light">@game.SecondsPlayed</td>
    <td class="table-light"><button @onclick="HandleClick" disabled=@game.IsFinished class="btn btn-primary">Check</button></td>
</tr>

@code {
    [Parameter] public EventCallback<Game> OnClick { get; set; }
    [Parameter] public Guid Id { get; set; }
    [Parameter] public DateTime DatePlayed { get; set; }
    [Parameter] public char Letter { get; set; }
    [Parameter] public string? City { get; set; }
    [Parameter] public int CityPoints { get; set; }
    [Parameter] public string? Village { get; set; }
    [Parameter] public int VillagePoints { get; set; }
    [Parameter] public string? State { get; set; }
    [Parameter] public int StatePoints { get; set; }
    [Parameter] public string? Mountain { get; set; }
    [Parameter] public int MountainPoints { get; set; }
    [Parameter] public string? River { get; set; }
    [Parameter] public int RiverPoints { get; set; }
    [Parameter] public bool IsFinished { get; set; }
    [Parameter] public int SecondsPlayed{ get; set; }

    Game game = new Game();

    async Task HandleClick()
    {
        await OnClick.InvokeAsync(game);
    }

    protected override void OnParametersSet()
    {
        game = new Game
            {
                Id = Id,
                DatePlayed = DatePlayed,
                Letter = Letter,
                City = City,
                CityPoints = CityPoints,
                Village = Village,
                VillagePoints = VillagePoints,
                State = State,
                StatePoints = StatePoints,
                Mountain = Mountain,
                MountainPoints = MountainPoints,
                River = River,
                RiverPoints = RiverPoints,
                IsFinished = IsFinished,
                SecondsPlayed = SecondsPlayed
            };
    }
}